@import url(style.css);

/* --- Imagen de la ermita --- */
.ermita-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Foto redonda */
    object-fit: cover;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.contenedorMaps{
  display: flex;               /* Usamos flexbox */
  justify-content: center;     /* Centrar horizontalmente */
  align-items: center;         /* Centrar verticalmente si el contenedor tiene altura */
  width: 100%;                 /* Ocupa todo el ancho disponible */
  margin-bottom: 10px;
}

.maps {
  width: 25%;                  /* El mapa ocupa el 25% del contenedor */
  min-width: 250px;            /* Para que no se haga demasiado pequeño en móviles */
  aspect-ratio: 16 / 9;        /* Mantiene proporción responsiva */
  border: 0;                   /* Sin borde */
  border-radius: 12px;         /* Opcional: bordes redondeados */
}

.description{
    font-family: "Kunstler Script", "Indie Flower";
    font-size: 25px;
    font-weight: bold;
}