@import url(style.css);
.restaurante-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Foto redonda */
    object-fit: cover;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}